header {
  background-color: royalblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15%;

  #titleCon {
    display: flex;
    flex-direction: column;
    #top {
      font-weight: 900;
      color: hsl(223, 47%, 23%);
      margin-bottom: 5%;
    }
    #bottom {
      margin-top: 3%;
      color: hsl(224, 23%, 55%);
    }
  }
}
