$f: flex;

main {
  display: $f;
  flex-direction: column;
  margin-top: 3%;
}
#control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#liUl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
}

ul li.checked {
  background: grey;
  color: black;
  text-decoration: line-through;
}

ul li {
  //justify-content: space-between;
  //align-items: center;
  cursor: pointer;
  list-style-type: none;
  background: #fffffe;
  font-size: 1.2rem;
  //height: 20%;
}

main button {
  width: 40%;
  cursor: pointer;
  border-radius: 20%;
}

#add {
  background-color: green;
}

#remove {
  background-color: red;
}

#sort {
  background-color: steelblue;
}

#input {
  border-radius: 20%;
}
li {
  //display: flex;
  //justify-content: center;
  list-style: none;
  border: 1px solid grey;
  width: 50%;
  border-radius: 20%;
}
