@use "mixins";

h1 {
  text-align: center;
  color: white;
}

#liUl {
  @include mixins.flex-c;
  @include mixins.center;
  align-items: center;
  @include mixins.margin(0, 10%);
  @include mixins.ipad {
    @include mixins.margin(0, 5%);
  }
  @include mixins.desktop {
    @include mixins.margin(0, 2.8%);
  }
}

ul li.checked {
  background: grey;
  color: black;
  text-decoration: line-through;
}

ul li {
  @include mixins.center;
  cursor: pointer;
  list-style-type: none;
  background: #fffffe;
  @include mixins.fontSize(1.2rem);
  @include mixins.ipad {
    @include mixins.fontSize(1.4rem);
  }
  @include mixins.desktop {
    @include mixins.fontSize(1.7rem);
  }
}

li button {
  @include mixins.margin(12px, 0, 20px);
  height: 30px;
  width: 30px;
  background-color: salmon;
  @include mixins.desktop {
    height: 40px;
    width: 40px;
    font-size: 1.1rem;
  }
}

p {
  width: 100px;
  @include mixins.desktop {
    width: 200px;
  }
}

li {
  list-style: none;
  border: 1px solid grey;
  width: 50%;
  border-radius: 30px;
  margin: 1%;
  @include mixins.desktop {
    width: 55%;
  }
}

#addItemCont {
  @include mixins.center;
  #addItem {
    @include mixins.fontSize(1.1rem);
    @include mixins.ipad {
      @include mixins.fontSize(1.4rem);
    }
    @include mixins.desktop {
      @include mixins.fontSize(1.6rem);
    }
  }
  #btnAddItem {
    @include mixins.margin(0, 0, 10px);
    @include mixins.fontSize(1.1rem);
    border: none;
    border-radius: 15px;
    @include mixins.ipad {
      @include mixins.fontSize(1.4rem);
    }
    @include mixins.desktop {
      @include mixins.fontSize(1.6rem);
    }
  }
}
#sortDone {
  @include mixins.center;
  @include mixins.fontSize(1.1rem);
  margin: 10px;
  border-radius: 25px;
  @include mixins.ipad {
    @include mixins.fontSize(1.4rem);
  }
  @include mixins.desktop {
    @include mixins.fontSize(1.6rem);
  }
}
