$f: flex;

h1 {
  text-align: center;
}
#liUl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
}

ul li.checked {
  background: grey;
  color: black;
  text-decoration: line-through;
}

ul li {
  display: flex;
  justify-content: center;
  cursor: pointer;
  list-style-type: none;
  background: #fffffe;
  font-size: 1.2rem;
}

li button {
  margin-left: 20px;
  margin-top: 12px;
  height: 30px;
  width: 30px;
  background-color: salmon;
}

p {
  width: 100px;
}

main button {
  width: 42%;
  cursor: pointer;
  border-radius: 20%;
  font-size: 0.9rem;
}

#add {
  background-color: green;
}

#remove {
  background-color: salmon;
}

#sort {
  background-color: steelblue;
}

#input {
  border-radius: 20%;
  font-size: 0.9rem;
  text-align: center;
}
li {
  list-style: none;
  border: 1px solid grey;
  width: 50%;
  border-radius: 20%;
}

@media screen and (min-width: 786px) {
  #liUl {
    margin-right: 5%;
  }

  ul li {
    font-size: 1.4rem;
  }

  main button {
    width: 45%;
    font-size: 1rem;
  }

  #input {
    width: 44vw;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  #liUl {
    margin-right: 2.8%;
  }

  ul li {
    font-size: 1.6rem;
  }
  li {
    width: 55%;
  }
}
